body {
 background-image: url(../images/fondo.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 margin: 0 auto;
 background-attachment: fixed;
 text-align: center;
}

h1 {
    border-left: solid 7px white;
    color: white;
    text-align: center;
    background-color: rgb(103, 24, 24);
}

img {
    height: 300px;
    border: solid 5px;
    border-radius: 30px ;
}

ul {
    
    text-align: center;
}

li {
    list-style-type: none;
    padding: 3px;
    display: inline;
}


a {
    border: solid 2px blue;
    text-decoration: none;
    color: white;
}