#body{
    background: url(./images/costillas.jpg);
}

#menu {
  width: 100%; 
  top: 0px;
  text-align: center;  
  background-color: #95cf52;
  border-bottom: 5px solid #144633;
  border-top: 5px solid #144633;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu a{
   color: rgb(143, 32, 32);
   text-decoration: none;
}


#menu li{
  display: inline;
  padding-left: 5px;  
}

#menu li a:hover{
   background-color: rgb(95, 255, 2) ;
   text-decoration: underline rgb(7, 6, 6);
   color: rgb(0, 0, 0);
}

#encabezado {
    width: 100%;
  margin-top: 5px;
  text-align: center;
  background-color: #95cf52;
  border-bottom: 5px solid #144633;
  border-top: 5px solid #144633;
  color: rgb(143, 32, 32);
  padding-top: 10px;
}
#cookie{
  top: 40%;
  position:absolute;   
  left: 11%;
  width: 80%;
  border:2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}
#textcookie{
    text-align: center;
}