*{

}

body {
  
}

h1 {

}

img {
  
}

ul {

}

li {

}

p {
  
}

#header {
  
}

#content{
  
}

#text {
  
}

#text p {
  
}

#text p:first-child {
  
}

#text p:last-child {

}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

}

#footer{

}

#footer a{

}

#footer a:hover{

}
#image {

}

@media all and (max-width: 500px) {

}
