*{

}

body {
  background-color: #F1F0FF;
}

h1 {
    margin: auto;
    border-bottom: solid 7px;
    text-align: center;
}

img {
    border: solid black 7px;
    margin-right: 60px;
}

ul {

}

li {

}

p {
  padding: 10px;
  border-width: 4px;

}

#header {
    background-color:#C3C3E5 ;
    margin-top: -10px;
    width: 100%;
}

#content{
 
}

#text {
 width: 90%;
 margin-left: auto ;
 margin-right: auto ;
}

#text p {
    box-shadow: 0px 2px 4px 0px;
    border: dashed;
    border-width: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-indent: 40px;
    background-color: #c3c3e5;
    
}

#text p:first-child {
    border-radius: 30px 30px 0px 0px;
    border: dashed;
    background-image: url(../images/fondoParrafo.png);
    border-width: 5px;
}

#text p:last-child {
    border-radius: 0px 0px 30px 30px;
    border-width: 5px;
}

#menu {
 text-align: center;
 
}

#menu a{
 border-left: solid red 7px;
 padding: 3px;
 text-decoration: none;
 color: black;
}


#menu li{
 display: inline;
 text-align: unset;
}

#menu li a:hover{
text-decoration: underline;
    color: red;
}

#footer{
   background-color:#C3C3E5 ;
    border-top: solid 5px blue;
    text-align: center;
    color: white;
    background-color: #8C489F ;
}

#footer a{
    text-decoration: none;
    color: white;

}

#footer a:hover{
    
}
#image {
    padding-top: 5px;
    text-align: right;
}

@media all and (max-width: 500px) { 

    img {border: solid red 5px; 
        width: 90%; 
        margin-left: 0px; 
        margin-right: 0px;}

    image { text-align: center;}
}
