*{

}

body {
  
}

h1 {
    margin: auto;
}

img {
    border: solid 7px;
    margin-right: 60px;
}

ul {

}

li {

}

p {
  padding: 10px;
}

#header {
    background-color:#C3C3E5 ;
    border-bottom: solid 7px;
    text-align: center;
}

#content{
 
}

#text {

}

#text p {
    box-shadow: 0px 5px 10px 0px;
    border-width: 60px;
}

#text p:first-child {
    border-radius: 30px 30px 0px 0px;
    border: dashed;
    background-image: url(../images/fondoParrafo.png);
}

#text p:last-child {
    margin: 50px;
    border-radius: 0px 0px 30px 30px;
}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

}

#footer{
    border-top: solid 4px;
    background-color: #443266;
    margin: auto;
    color: white;
}

#footer a{

}

#footer a:hover{

}
#image {
    padding-top: 5px;
    text-align: right;
}

@media all and (max-width: 500px) {

}
